@media (max-width: 767px) {
    .xxscreen {
      width: 80% !important;
    }
  }

  /* For WebKit browsers (Chrome, Safari) */
.xxscreen::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.xxscreen::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.xxscreen::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 2px solid #f1f1f1; /* Padding around the scrollbar thumb */
}

/* For Firefox */
.xxscreen {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Color of the thumb and track */
}
