@media (max-width: 767px) {
    .xxcart {
      width: 80% !important;      
    }
  }

  /* cart back-groud */
  .bg-custom-danger {
    background-color: #ffcccb;
  }

  
   .thumbnail-image {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }

  .thumbnail-image.active {
    border: 2px solid #d1b4cc;
  }